.jumbotron {
	background-color: gold;
	color: black;
	margin-top: 50px;
}


.info {
	text-align: center;
	padding-left: 300px;
	padding-right: 300px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: gold;
	margin-bottom: 0px;
	margin-top: 20px;
}

.card-hotel {
	flex: 1 350px;
	margin-top: 10px;
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}


.footer-address-icon {
	padding-right: 10px; 
}



.tab-content {
	padding-top: 20px;
}