@yellow: #eded0c;
@red: #ffb0b0;
@green: #219625;

.margenes(@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}

	.jumbotron {
		background-color: @yellow;
		color: black;
		.margenes (50px, 0px);
	}


	footer {
		padding: 10px 10px 0 10px;
		background-color: @green;
		.margenes (10px, 0px);
	}

	.card-hotel {
		flex: 1 350px;
		.margenes (10px, 0px);
		background-color: @red;
	}

	.btn-reserva {
		width: 100%;
		border-radius: 0px;
	}


	.footer-address-icon {
		padding-right: 10px; 
	}



	.tab-content {
		padding-top: 20px;
	}